.color-body {
    height: 100vh;
    background-color: #f8f8f8;
}
.font {
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    /* font-family: "Cairo", sans-serif; */
}

.rectangle {
    padding: 1rem;
    height: 600px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 0.25);
}

.dates-count {
    color: #555;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-style {
    width: 200px;
    border-radius: 8px;
    color: #fff;
    background-color: #224f61;
}

.btn-all {
    display: flex;
    justify-content: space-between;
}

.img-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.item {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.item:hover {
    background-color: #224f61;
    color: #fff;
}

.item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-bottom h1{
   /* color: #555; */
   font-size: 15px;
   font-weight: 500;
}

.item-bottom span {
    /* color: #555; */
    font-size: 10px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    margin-top: 4rem;
}